<div class="dashboard-container">
    <div class="card main-card">
      <div class="chart-container">
        <div class="chart-header">
          <h2>Medidor de pH</h2>
          <div class="time-range-selector">
            <button [class.selected]="timeRange === 7" (click)="onTimeRangeChange(7)">Últimos 7 días</button>
            <button [class.selected]="timeRange === 30" (click)="onTimeRangeChange(30)">Mes</button>
            <button [class.selected]="timeRange === 90" (click)="onTimeRangeChange(90)">3 Meses</button>
          </div>
        </div>
  
        <div class="chart-layout">
          <div class="chart-and-indicator">
            <div class="indicator-section">
              <div class="circular-indicator">
                <svg id="ph-circle" width="300" height="300"></svg>
              </div>
              <div class="ph-info">
                <div class="current-value">
                  <span class="label">Valor actual:</span>
                  <span class="ph-value">{{currentPh.toFixed(1)}}</span>
                </div>
                <div class="current-status">
                  <span class="label">Estado:</span>
                  <div class="status-indicator" [style.background-color]="getPhStatus().color">
                    <span class="status-text">{{getPhStatus().label}}</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div id="ph-chart" class="line-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>