
<div class="all">
  <!-- Componente principal de temperatura -->
  <div class="temperatura">
    <app-temperatura></app-temperatura>
    </div>
    


  <!-- Componente principal de oxígeno -->
<div class="oxy">
<app-oxigeno></app-oxigeno>
</div>

 <!-- Componente principal de ph -->
<div class="pH">
<app-p-h></app-p-h>
</div>


 <!-- Componente principal de peso -->
 <div class="peso">
    <app-weight-dashboard></app-weight-dashboard>
</div>

 <!-- Componente principal de mortalidad -->
 <div class="mortalidad">
    <app-mortalidad></app-mortalidad>
</div>


 <!-- Componente principal de mortalidad -->
 <div class="alimentacion-medicacion">
<app-medicacion-alimentacion></app-medicacion-alimentacion>
</div>

